<h2>Results:</h2>
<div id="results">
  <div *ngFor="let film of items">
    <div class="film rounded border bg-slate-100 hover:bg-slate-300">
      <img
        class=""
        [src]="film.posterUrl"
        [alt]="film.title"
      />
      <div class="title">{{film.title}}</div>
      <div>
        <div>{{film.year}}</div>
        <div>
          <span class="">Rating:</span>
          {{film.rating}}
        </div>
        <div>
          <span class="">Passed:</span>
          {{film.passed}}
        </div>
        <div>
          <span class="">Reason:</span>
          {{film.reason}}
        </div>
        <div>
          <span class="">Budget:</span>
          ${{film.budget.toLocaleString("en-US")}}
        </div>
        <div>
          <span class="">Dom. Gross:</span>
          ${{film.domesticGross.toLocaleString( "en-US" )}}
        </div>
        <div>
          <span class="">Int'l Gross:</span>
          ${{film.internationalGross.toLocaleString( "en-US" )}}
        </div>
      </div>
      <p class="">{{film.overview}}</p>
    </div>
  </div>
</div>
